.App {
  text-align: center;
}

.welcome {
  max-height: 200px;
  overflow: hidden;
  margin: auto;
  width: 100%;
  /* background-color: rbg(200,220,220); */
}

.imageCenterer {
  width: 2000px;
  position: relative;
  left: 50%;
  top: -105px;
  margin-left: -1000px;
}

.splashImg {
  max-height: 400px;
}
